@charset "utf-8";

@import "../../css/base/reset";

html, body {
  font-family: “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif; 
  font-size: 62.5%;
}
@mixin inner {
  width: 750px;
  margin: 0 auto;
}

.btn0_head {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  .btn0 {
    font-size: 5rem;
    line-height: 9.6rem;
    color: #3F51B5;
    background: #ceffff;
    padding: 20px 10px 15px 10px;
    border-bottom: solid 4px #3F51B5;
    border-radius: 25px 25px 0 0;
  }
}

// <!-- ボタン1 -->
.btn1_head {
  text-align: center;
  .btn1{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    border-radius: 3px;
    padding: 15px 93px 14px 16px;
    margin-bottom: 4.5rem;
  }
}

// <!-- ボタン2 -->
.btn2_head {
  text-align: center;
  .btn2{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    border-radius: 3px;
    padding: 15px 93px 14px 16px;
    margin-bottom: 4.5rem;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      background: url(../img/arrow.svg) no-repeat;
      width: 100%;
      height: 100%;
      margin-top: 6px;
      margin-left: 67px;
    }
  }
}

// <!-- ボタン3 -->
.btn3_head {
  text-align: center;
  .btn3{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    border-radius: 3px;
    padding: 15px 93px 14px 16px;
    margin-bottom: 4.5rem;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      background: url(../img/arrow.svg) no-repeat;
      width: 100%;
      height: 100%;
      margin-top: 6px;
      margin-left: 6px;
    }
  }
}

// <!-- ボタン4 -->
.btn4_head {
  text-align: center;
  .btn4{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    border-radius: 3px;
    padding: 15px 74px 14px 35px;
    box-shadow: 0 5px #25379B;
    margin-bottom: 4.5rem;
  }
}

// <!-- ボタン5 -->
.btn5_head {
  text-align: center;
  .btn5{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 15px 74px 14px 35px;
    background: linear-gradient(180deg, #3F51B5 0%, #20295B 100%);
    margin-bottom: 4.5rem;
  }
}

// <!-- ボタン6 -->
.btn6_head {
  @include inner;
  text-align: center;
  background: #333333;
  border: 1px solid #707070;
  margin-bottom: 4.5rem;
  .btn6{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    padding: 15px 74px 14px 35px;
    margin: 26px 0 28px;
  }
}

// <!-- ボタン7 -->
.btn7_head {
  text-align: center;
  .btn7{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background: #3F51B5;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    padding: 38px 0;
    margin-bottom: 4.5rem;
  }
}

// <!-- ボタン8 -->
.btn8_head {
  text-align: center;
  .btn8{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    border-radius: 25px 25px;
    padding: 15px 93px 14px 16px;
    margin-bottom: 4.5rem;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      background: url(../img/arrow.svg) no-repeat;
      width: 100%;
      height: 100%;
      margin-top: 6px;
      margin-left: 67px;
    }
  }
}

// <!-- ボタン9 -->
.btn9_head {
  text-align: center;
  .btn9{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F51B5;
    padding: 15px 74px 14px 35px;
    border-bottom: 3px solid #25379B;
    margin-bottom: 4.5rem;
  }
}