@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* myreset_CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif;
  font-size: 62.5%;
}

.btn0_head {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.btn0_head .btn0 {
  font-size: 5rem;
  line-height: 9.6rem;
  color: #3F51B5;
  background: #ceffff;
  padding: 20px 10px 15px 10px;
  border-bottom: solid 4px #3F51B5;
  border-radius: 25px 25px 0 0;
  transition: all 0.3s ease 0s;
}

.btn0_head .btn0:hover {
  opacity: 0.6;
}

.btn1_head {
  text-align: center;
}

.btn1_head .btn1 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 3px;
  padding: 15px 93px 14px 16px;
  margin-bottom: 4.5rem;
  transition: all 0.3s ease 0s;
}

.btn1_head .btn1:hover {
  background-color: #FFFFFF;
  color: #3F51B5;
  border: 3px solid #3F51B5;
}

.btn2_head {
  text-align: center;
}

.btn2_head .btn2 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 3px;
  padding: 15px 93px 14px 16px;
  margin-bottom: 4.5rem;
  position: relative;
  transition: all 0.3s ease 0s;
  border-bottom: 0.5rem solid #272f5e;
}

.btn2_head .btn2::after {
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/arrow.svg) no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 6px;
  margin-left: 67px;
}

.btn2_head .btn2:hover {
  border-bottom-color: transparent;
  transform: translateY(0.5rem);
}

.btn3_head {
  text-align: center;
}

.btn3_head .btn3 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 3px;
  padding: 15px 93px 14px 16px;
  margin-bottom: 4.5rem;
  position: relative;
  transition: all 0.3s ease 0s;
}

.btn3_head .btn3::after {
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/arrow.svg) no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 6px;
  margin-left: 6px;
}

.btn3_head .btn3:hover {
  box-shadow: 0 3px 6px #272f5e;
  transform: translateY(-0.5rem);
}

.btn4_head {
  text-align: center;
}

.btn4_head .btn4 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 3px;
  padding: 15px 74px 14px 35px;
  box-shadow: 0 5px #25379B;
  margin-bottom: 4.5rem;
  transition: all 1s linear 0s;
}

.btn4_head .btn4:hover {
  transform: rotateX(360deg);
}

.btn5_head {
  text-align: center;
}

.btn5_head .btn5 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 15px 74px 14px 35px;
  background: linear-gradient(180deg, #3F51B5 0%, #20295B 100%);
  margin-bottom: 4.5rem;
  transition: all 1s linear 0s;
}

.btn5_head .btn5:hover {
  transform: rotateY(360deg);
}

.btn6_head {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  background: #333333;
  border: 1px solid #707070;
  margin-bottom: 4.5rem;
}

.btn6_head .btn6 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  padding: 15px 74px 14px 35px;
  margin: 26px 0 28px;
  transition: all 1s linear 0s;
}

.btn6_head .btn6:hover {
  transform: rotateZ(360deg);
}

.btn7_head {
  text-align: center;
}

.btn7_head .btn7 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background: #3F51B5;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  padding: 38px 0;
  margin-bottom: 4.5rem;
  transition: all 0.6s ease 0s;
}

.btn7_head .btn7:hover {
  transform: scale(1.5, 1.5);
}

.btn8_head {
  text-align: center;
}

.btn8_head .btn8 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 25px 25px;
  padding: 15px 93px 14px 16px;
  margin-bottom: 4.5rem;
  position: relative;
  transition: all 0.3s ease 0s;
}

.btn8_head .btn8::after {
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/arrow.svg) no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 6px;
  margin-left: 67px;
}

.btn8_head .btn8:hover {
  color: salmon;
}

.btn9_head {
  text-align: center;
}

.btn9_head .btn9 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3F51B5;
  padding: 15px 74px 14px 35px;
  border-bottom: 3px solid #25379B;
  margin-bottom: 4.5rem;
  position: relative;
}

.btn9_head .btn9::after {
  position: absolute;
  content: '';
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: salmon;
  transition: all 0.3s ease 0s;
}

.btn9_head .btn9:hover::after {
  width: 100%;
}

.btn10 {
  position: relative;
  display: block;
  margin:0 auto;
  width:250px;
  padding: 20px;
  border: 2px solid #25379B;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: color .3s;
  cursor:pointer;
  font-size:18px;

 }
 .btn10:hover {
   color: #fff;
 }
 .btn10 {
   overflow: hidden;
 }
 .btn10::before {
   position: absolute;
   top: 0;
   left: -5%;
   z-index: -1;
   content: '';
   width: 110%;
   height: 200%;
   background: #25379B;
   transform-origin: left top;
   transform: skewY(-10deg) scale(1, 0);
   transition: transform .3s;
 }
 .btn10:hover::before {
   transform-origin: left top;
   transform: skewY(-10deg) scale(1, 1);
 }
