@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* myreset_CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ', sans-serif;
  font-size: 62.5%;
}

/* contact----------------------------- */
.contact {
  background-color: #EFEFEF;
  padding-top: 52px;
  padding-bottom: 102px;
}

.contact .inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.contact .inner .contact__heading {
  text-align: center;
  font-family: 'Lato', 'Gill', sans-serif;
  font-size: 6.0rem;
  line-height: 9.6rem;
  color: #333333;
  padding-bottom: 30px;
  margin-bottom: 45px;
  position: relative;
}

.contact .inner .contact__heading::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 76px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.contact .inner .contact-form--wrapper {
  background-color: #FFFFFF;
  padding: 60px 43px 60px 52px;
}

.contact .inner .contact-form--wrapper .contact-form {
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #333333;
}

.contact .inner .contact-form--wrapper .contact-form .m-top {
  margin-top: 16px;
  /* 項目名の位置調整 */
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .m-top {
    display: block;
    margin-top: 0;
    text-align: left;
    margin-bottom: 10px;
  }
}

.contact .inner .contact-form--wrapper .contact-form .inputs::placeholder {
  color: #CCCCCC;
}

.contact .inner .contact-form--wrapper .contact-form .inputs:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact .inner .contact-form--wrapper .contact-form .inputs::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact .inner .contact-form--wrapper .contact-form .inputs.inputs-common {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 528px;
  height: 60px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .inputs.inputs-common {
    width: 100%;
  }
}

.contact .inner .contact-form--wrapper .contact-form .inputs.inputs-common:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact .inner .contact-form--wrapper .contact-form .inputs.inputs-content {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  resize: none;
  width: 528px;
  height: 240px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .inputs.inputs-content {
    width: 100%;
  }
}

.contact .inner .contact-form--wrapper .contact-form .inputs.inputs-content:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__name {
    display: block;
    text-align: center;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__name .must-label {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  background-color: #E81919;
  border-radius: 12px;
  width: 45.98px;
  height: 22.72px;
  text-align: center;
  position: absolute;
  content: '';
  top: 50px;
  left: 3px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__name .must-label {
    top: 0;
    left: 70px;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__mail {
    display: block;
    text-align: center;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__mail .must-label {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  background-color: #E81919;
  border-radius: 12px;
  width: 45.98px;
  height: 22.72px;
  text-align: center;
  position: absolute;
  content: '';
  top: 50px;
  left: 3px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__mail .must-label {
    top: 0;
    left: 140px;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__type {
    display: block;
    text-align: center;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__type .inputs-type {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../img/form/select-arrow.svg) no-repeat center right 20px/20px 20px;
  border: 1px solid #707070;
  border-radius: 0;
  color: #CCCCCC;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 528px;
  height: 60px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__type .inputs-type {
    width: 100%;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__type .inputs-type::-ms-expand {
  display: none;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__type .inputs-type:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39.5px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__content {
    display: block;
    text-align: center;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio {
  margin-left: 5px;
  margin-bottom: 45px;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__radio {
    display: flex;
    flex-direction: column;
    /* 縦並びに */
    margin-bottom: 25px;
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .radio-label {
  font-size: 1.6rem;
}

@media screen and (max-width: 800px) {
  .contact .inner .contact-form--wrapper .contact-form .contact-form__radio .radio-label {
    margin-bottom: 12px;
    /* 縦並びにした際の各ラジオボタンの間隔 */
  }
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .inputs-radio {
  display: none;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .inputs-radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 20px 0 0;
  /* 各項目の右側の余白 */
  padding: 0 0 0 40px;
  /* ○と項目の間の余白 */
  position: relative;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .inputs-radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .inputs-radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 6px;
  opacity: 0;
  padding: 6px;
  /* ●と○の間 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease 0s;
  width: 18px;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__radio .inputs-radio:checked + span::after {
  opacity: 1;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .inputs-checkbox {
  display: none;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .inputs-checkbox + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.3em 0;
  padding: 0 0 0 45px;
  /* □と文章(項目)の間の余白 */
  position: relative;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .inputs-checkbox + span::before {
  /* -webkit-transform: translateY(-50%); */
  background: #fff;
  border: 1px solid #707070;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  top: -22px;
  width: 30px;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .inputs-checkbox + span::after {
  -webkit-transform: translateY(-50%);
  background: url(../img/form/check.svg) no-repeat;
  background-size: contain;
  /* サイズ指定 */
  content: "";
  display: inline-block;
  height: 30px;
  /* 数値でないと表示されない。100%はダメ */
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease 0s;
  width: 30px;
  /* 数値でないと表示されない。100%はダメ */
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .inputs-checkbox:checked + span::after {
  opacity: 1;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .privacy-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333333;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__privacy .privacy-text .privacy-content {
  color: #333333;
  text-decoration: underline;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__button {
  text-align: center;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__button .submit-btn {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 12px;
  width: 261px;
  height: 56px;
  left: -3px;
  /* perfectpixelで合わせると必要 */
  position: relative;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__button .submit-btn::after {
  position: absolute;
  content: '';
  background: url(../img/form/contact-arrow.svg) no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 55px;
  top: 18px;
}

.contact .inner .contact-form--wrapper .contact-form .contact-form__button .submit-btn:hover {
  cursor: pointer;
}

/* ------------------------------------ */
