@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* myreset_CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ', sans-serif;
  font-size: 62.5%;
}

/* card-------------------------------- */
.card {
  background-color: #EFEFEF;
  padding-top: 58px;
  padding-bottom: 120px;
}

.card .inner {
  width: 1086px;
  max-width: 100%;
  margin: 0 auto;
}

.card .inner .card__heading {
  text-align: center;
  font-family: 'Lato', 'Gill', sans-serif;
  font-size: 6.0rem;
  line-height: 9.6rem;
  color: #333333;
  padding-bottom: 40px;
  margin-bottom: 68px;
  position: relative;
  /* border-bottom: 5px solid $color-card-border; h2要素と長さが違う線を指定したい場合、borderではできない▶疑似要素 */
}

.card .inner .card__heading::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 76px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.card .inner .card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .card .inner .card-list {
    flex-direction: column;
    /* スマホ幅で縦1列並びに */
    align-items: center;
  }
}

.card .inner .card-list .card-list__item {
  background-color: #FFFFFF;
  padding: 16px 16px 35px 16px;
  border-radius: 4px;
  margin: 0 30px 22px 0;
  width: calc(100% / 3 - 60px / 3);
  /* 余白30×2=60pxを3つのアイテムに均等に分け、1アイテム幅の100%/3から引けば余白は常に一定にかつアイテム幅を可変にできる */
}

.card .inner .card-list .card-list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .card .inner .card-list .card-list__item {
    width: 100%;
    min-width: 80%;
    /* アイテム幅が小さくなりすぎないように自分で入れてみた */
    margin: 0 0 20px 0;
  }
  .card .inner .card-list .card-list__item:nth-child(3) {
    margin-left: 30px;
    /* 下のtabの指定でずれた分を直す */
  }
}

@media screen and (max-width: 1085px) {
  .card .inner .card-list .card-list__item {
    width: calc(100% / 2 - 60px / 2);
    /* 2列で余白を2等分 */
  }
  .card .inner .card-list .card-list__item:nth-child(3n) {
    margin-right: 30px;
    /* 親元の指定で0になっているのを余白足す */
  }
  .card .inner .card-list .card-list__item:nth-child(2n) {
    margin-right: 0;
    /* 2列の時の余白をなくす */
  }
}

.card .inner .card-list .card-list__item .card-list__item--img {
  width: 100%;
  /* 画面を小さくしたときに画像も小さくなるように */
}

.card .inner .card-list .card-list__item .card-list__item--title {
  font-size: 2rem;
  color: #6F7579;
  line-height: 2.4rem;
  margin-top: 22px;
  margin-bottom: 20px;
}

.card .inner .card-list .card-list__item .card-list__item--text {
  font-size: 1.6rem;
  color: #6F7579;
  line-height: 2.4rem;
}

/* 参考URL: https://haniwaman.com/calc/ */
/* ------------------------------------ */
