@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* myreset_CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ', sans-serif;
  font-size: 62.5%;
}

/* access------------------------------ */
.access {
  background-color: #FFFFFF;
  padding-top: 58px;
  padding-bottom: 90px;
}

.access .inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.access .inner .access__heading {
  text-align: center;
  font-family: 'Lato', 'Gill', sans-serif;
  font-size: 6.0rem;
  line-height: 9.6rem;
  color: #333333;
  padding-bottom: 30px;
  margin-bottom: 105px;
  position: relative;
}

.access .inner .access__heading::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 76px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.access .inner .access__inner--wrapper {
  width: 100%;
  margin: 0 auto;
}

.access .inner .access__inner--wrapper .access-map {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .access .inner .access__inner--wrapper .access-map {
    width: 95%;
    /* 小さくしたときに左右に余白持たす */
  }
}

.access .inner .access__inner--wrapper .access-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access .inner .access__inner--wrapper .aceess-text {
  margin-top: 32px;
  width: 800px;
}

.access .inner .access__inner--wrapper .aceess-text .aceess-text__table {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333333;
  margin-left: 38px;
  margin-bottom: 30px;
}

@media screen and (max-width: 850px) {
  .access .inner .access__inner--wrapper .aceess-text .aceess-text__table {
    margin-left: 2rem;
  }
}

.access .inner .access__inner--wrapper .aceess-text .aceess-text__table tr {
  height: 32px;
}

.access .inner .access__inner--wrapper .aceess-text .aceess-text__table tr th {
  font-weight: normal;
  text-align: left;
  padding-right: 52px;
}

.access .inner .access__inner--wrapper .access-google-link {
  text-align: center;
}

.access .inner .access__inner--wrapper .access-google-link .google-link {
  font-size: 2.0rem;
  font-weight: bold;
  /* line-height: 3.2rem; */
  line-height: 56px;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-radius: 12px;
  display: inline-block;
  width: 305px;
  height: 56px;
  padding: 16px auto 14px;
  position: relative;
}

.access .inner .access__inner--wrapper .access-google-link .google-link:hover {
  opacity: 0.8;
}

.access .inner .access__inner--wrapper .access-google-link .google-link::after {
  position: absolute;
  content: '';
  background: url(../img/table/access-arrow.svg) no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 31px;
  top: 19px;
}

/* ------------------------------------ */
