@charset "utf-8";

@import "../../setting/var";
@import "../../mixin/mixin";
@import "../../base/reset";

html, body {
  font-family: “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif; 
  font-size: 62.5%;
}

/* access------------------------------ */
.access {
  background-color: $color-white;
  padding-top: 58px;
  padding-bottom: 90px;
  .inner {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
      .access__heading {
        @include heading(30px, 105px);
        &::before {
          @include heading-line;
        }
      } //.access__heading
    .access__inner--wrapper {
      width: 100%;
      margin: 0 auto;
      .access-map {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 50%;
        overflow: hidden;
        margin: 0 auto;
        @include mqTAB-NEWS {
          width: 95%; /* 小さくしたときに左右に余白持たす */
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      } //.access-map
      .aceess-text {
        margin-top: 32px;
        width: 800px;
        .aceess-text__table {
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: $color-black;
          margin-left: 38px;
          margin-bottom: 30px;
          @include mqTAB-NEWS {
            margin-left: 2rem;
          }
          tr {
            height: 32px;
            th {
              font-weight: normal;
              text-align: left;
              padding-right: 52px;
            }
          }
        } //.access-table
      } //.aceess-text
      .access-google-link {
        text-align: center;
        .google-link {
          font-size: 2.0rem;
          font-weight: bold;
          /* line-height: 3.2rem; */
          line-height: 56px;
          color: $color-white;
          background-color: $color-blue;
          border-radius: 12px;
          display: inline-block;
          width: 305px;
          height: 56px;
          padding: 16px auto 14px;
          position: relative;
          &:hover {
            opacity: 0.8;
          }
          &::after {
            position: absolute;
            content: '';
            background: url(../img/table/access-arrow.svg) no-repeat;
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-left: 31px;
            top: 19px;
          }
        }
      } //.access-google-link
    } //.access__inner--wrapper
  } //.access__inner
} //.access
/* ------------------------------------ */
